.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  z-index: 5;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__title {
  text-align: center;
  font-size: 36px;
}
.header__nav {
  display: flex;
  gap: 20px;
}

.main {
  flex-grow: 1;
  position: relative;
  padding: 80px 0 15px;
}
.main__inner {
  min-height: 70vh;
}

/*Cards*/
.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 30px 0;
}
.cards__not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--primary-color);
}
.cards__item:hover {
  box-shadow: 0 0 3px 5px #e9e9e9;
  border-color: #e9e9e9;
}
.cards__img {
  max-width: 100%;
  margin-bottom: 20px;
  background-color: var(--secondary-bg);
}
.cards__title {
  margin-bottom: 10px;
  font-size: 22px;
}
.cards__description {
  flex-grow: 1;
  font-size: 16px;
  margin-bottom: 20px;
}
.cards__action {
  display: flex;
  justify-content: space-between;
}
.cards__btn {
  padding: 10px 20px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  font-size: 16px;
  border-radius: 3px;
  transition: all 0.3s;
}
.cards__btn:hover {
  opacity: 0.7;
}

/*Footer*/
.footer {
  padding: 20px;
  background-color: var(--secondary-bg);
}
.footer__content {
  text-align: center;
}
.footer__link {
  color: var(--primary-bg);
  font-weight: bold;
  transition: all 0.3s;
}
.footer__link:hover {
  opacity: 0.7;
}

/*Loader*/
.loader {
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  border: 3px solid;
  border-color: var(--primary-bg) var(--primary-bg) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    


@media (max-width: 767px) {
  .basket__item {
    padding: 10px;
  }
  .basket__item-title {
    width: 100%;
  }
  .alert-container {
    left: 10px;
    right: 10px;
  }
}
